@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#title{
    justify-self: center;
}
#description{
    justify-self: center;
}

#legend{
    justify-self: end;
}

#author{
    text-align: center;
}

#author > a:link{
    text-decoration: none;
    color: red;
}
#author > a:visited{
    color: red;
}


#tooltip{
    background-color: rgba(138, 248, 246, 0.489);
    padding: 0.1px;
    width: 195px;
    text-align: center;
    position: absolute;
}

path:hover{
    stroke-width: 1.6px;
}